<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-0 col-md-2 "col-lg-2"></div>
          <div class="col-sm-12 col-md-8 "col-lg-8">
              <p class = "about">I've been a professional data scientist since 2016, with deep experience in finance/investing. I started my career in management consulting, but given that I 
                enjoyed the technical side of that career most, I started working toward a more engineering-based role about 5 years in. I started taking programming seriously in 2012 to automate
                a few repetitive Excel tasks, and enjoyed the process so much, I ended up here.</p> 
      
              <p class = "about">Given my experience tying analytics directly to high-stakes problems in consulting, I feel comfortable at all stages of data-driven projects. These include everything from
              gathering requirements, to creation of source data feeds/ETL pipelines, management of data warehouses, visual development in BI tools, and predictive modeling.</p>
           
            <p class = "about">My formal education is a B.A. in Economics from New York University and an M.S. in Finance from the University of Colorado, but at this point, I continue to add to my technical knowledge 
              through online courses or projects in new areas.</p>
      
            <p class = "about">In summary, I just really enjoy creating a clean, automated process to help my team get the edge they need to outperform the competition.</p>
          <div class="col-sm-0 col-md-2 "col-lg-2"></div>
         </div>
  </div>
</div>
</section>
