<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
        <p>I am a data scientist with deep domain knowledge in finance. Given
        my experience with many clients in my former role as a management consultant, and my current data science career, I've developed expertise in the full-cycle of analytics projects. This includes everything from
        gathering requirements, to creation of source data feeds/ETL pipelines, management of data warehouses, visual development in BI tools, and predictive modeling when needed.
      </div>
      <div class="row">
        <p>My formal education is a B.A. in Economics from NYU and an M.S. in Finance from the University of Colorado.
         I began programming here and there in 2007 to automate a few repetitive Excel tasks, however, I ended up loving the process so much over time, I went into full-time data science work in 2016.</p>

         <p>Mostly, I enjoy creating a clean, automated process to give my team powerful decisionmaking capabilities.</p>
      </div>
    </div>
  </div>
</section>
