<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
        <p>I've been a professional data scientist since 2016, with deep experience in finance/investing. I started my career in management consulting, but given that I only really
          liked the technical side of that career, I started working toward a more engineering-based role about 5 years in. I began taking programming seriously in 2012 to automate
          a few repetitive Excel tasks, and enjoyed the process so much, I ended up here</p> 

        <p>Given my experience with company operations from consulting, and how decisionmaking ties directly to analytics, I feel comfortable at all stages of a project. This includes everything from
        gathering requirements, to creation of source data feeds/ETL pipelines, management of data warehouses, visual development in BI tools, and predictive modeling.</p>
     
      <p>My formal education is a B.A. in Economics from NYU and an M.S. in Finance from the University of Colorado, but at this point, the most useful knowledge I have has been self-taught.</p>

      <p>Now, I just really enjoy creating a clean, automated process to help my team get the edge they need to outperform the competition.</p>
  
      </div>
  </div>
</section>
