<!-- Code Section -->
<section class="code" id="code">
  
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Code Samples</h2>
        <hr class="star-light">
      </div>
    </div>
      <div class="row">
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <a class = "hobby" href ="https://github.com/brf217/samples/blob/main/pdf_scraper.py">PDF > Python Scraper</a>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
      </div>  

        <div class="row">
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <a class = "hobby" href ="https://github.com/brf217/samples/blob/main/energy_multiprocess.py">Energy Model Multiprocessing Code</a>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
      </div>  

        <div class="row">
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <a class = "hobby" href ="https://github.com/brf217/samples/blob/main/cruise_price_scraper.py">Cruise Pricing Scraper</a>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
      </div>  

        <div class="row">
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <a class = "hobby" href ="https://github.com/brf217/samples/blob/main/eia_api_v2_func.R">EIA Function Template for R</a>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
      </div>  
  
  </div>
</section>



