<!-- Hobbies Section -->
<section class="hobbies" id="hobbies">
  
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hobbies And Personal Projects</h2>
        <hr class="star-light">
      </div>
    </div>
      <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-2 text-center"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center"><img src="/img/purple_promotion.jpg" class= "hobby_img" title="Jiu-Jitsu"  height=250, width=200/></div>
        <div class="col-xs-12 col-sm-4 col-md-4"><p class ="hobbies"> I am a purple belt in jiu-jitsu, and enjoy training and occasionally competing around Denver. 
        My teammates are some of my favorite people.</p></div>
        <div class="col-xs-0 col-sm-2 col-md-2 text-center"></div>
      </div>
      <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-2 text-center"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center"><img src="/img/el_and_me.jpg" class= "hobby_img" title="Best Dog Ever"  height=250, width=200/></div>
        <div class="col-xs-12 col-sm-4 col-md-4"><p class ="hobbies">My wife and I adopted our first Great Dane in 2015. She has been a project of her own, but a very rewarding one. She is also spoiled beyond repair.</p></div>
        <div class="col-xs-0 col-sm-2 col-md-2 text-center"></div>
      </div>
      <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-2 text-center"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center"><img src="/img/home_remodel.jpg" class= "hobby_img" title="Home Remodel"  height=250, width=200/></div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <p class ="hobbies">We purchased a nearly 100 year-old house as a starter home and have been our own general contractors on it since 2017. 
          It has certainly been an education in project management.</p></div>
        <div class="col-xs-0 col-sm-2 col-md-2 text-center"></div>
      </div>  
  </div>
</section>
