<!-- Skills Section -->
<section class="success" id="skills">
  
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-light">
      </div>
    </div>
  <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 text-center"><img src="/img/snowflake.png" height=100, width=100/></div>
      <div class="col-xs-2 col-sm-2 col-md-2 text-center"><img src="/img/python.png" height=100, width=100/></div>
      <div class="col-xs-2 col-sm-2 col-md-2 text-center"><img src="/img/R.png" height=100, width=150/></div>
      <div class="col-xs-2 col-sm-2 col-md-2 text-center"><img src="/img/excel.png" height=100, width=150/></div>
      <div class="col-xs-2 col-sm-2 col-md-2 text-center"><img src="/img/esri.jpg" height=100, width=100/></div>
      <div class="col-xs-2 col-sm-2 col-md-2 text-center"><img src="/img/aws.png" height=100, width=100/></div>
  </div>
</section>
