<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>
     </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="service-box">
                    <i class="fa-regular fa-laptop-code"></i>
                    <h3>Python</h3>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <i class="fa-regular fa-browsers"></i>
                    <h3>Webscraping</h3>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <i class="fa-regular fa-sitemap"></i>
                    <h3>SQL/Snowflake</h3>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <i class="fa-regular fa-brackets-curly"></i>
                    <h3>R</h3>
                </div>
            <div class="col">
                <div class="service-box">
                    <i class="fa-regular fa-brackets-curly"></i>
                    <h3>Test Add</h3>
                </div>
            <div class="col">
                <div class="service-box">
                    <i class="fa-regular fa-brackets-curly"></i>
                    <h3>Test Add 2</h3>
                </div>
            </div>
        </div>
    </div>
</section>
