<!-- Skills Section -->
<section class="skills" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-0 col-md-1 col-lg-1"></div>
          <div class="col-sm-12 col-md-10 col-lg-10">
  <ul class ="skills">
          <li class = "skills">Python Development</li>
          <li class = "skills">SQL Development</li>
          <li class = "skills">Custom Data Pipelines/ETL</li>
          <li class = "skills">Process Automation</li>
          <li class = "skills">Web Scraping</li>
          <li class = "skills">Dashboard Creation</li>
          <li class = "skills">R Development</li>
          <li class = "skills">Time-Series Forecasting</li>
          <li class = "skills">Data Wrangling and Cleanup</li>
          <li class = "skills">Excel Financial Modeling (3-Statement, Summary)</li>
  </ul>
          <div class="col-sm-0 col-md-1 col-lg-1"></div>
         </div>
  </div>
</div>
</section>
